@model Kategorija

@{
    ViewData["Title"] = "Obrisi kategoriju";
}

<h2>Da li ste sigurni da zelite da obrisete ovu kategoriju?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naziv
        </dt>
        <dd>
            @Model.Naziv
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="KategorijaId" />
        <input type="submit" value="Obrisi" class="btn btn-default" /> |
        <a asp-action="Index">Vrati se na listu</a>
    </form>
</div>
