@model IEnumerable<Kategorija>

@{
    ViewData["Title"] = "Kategorija";
}

<span>
    <a asp-action="Create">Kreiraj novu kategoriju</a>
</span>
<span class="float-right">
    <a asp-action="Administracija" asp-controller="Home">Vrati se na admin panel</a>
</span>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Naziv kategorije
            </th>
            <th>Opcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Kategorija k in Model)
        {
            <tr>
                <td>
                    @k.Naziv
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@k.KategorijaId">Izmeni</a> |
                    <a asp-action="Details" asp-route-id="@k.KategorijaId">Detalji</a> |
                    <a asp-action="Delete" asp-route-id="@k.KategorijaId">Obrisi</a>
                </td>
            </tr>
        }
    </tbody>
</table>
