@{
    ViewData["Title"] = "O nama";
}

<h4>Informacije o nama</h4>

<address>
    <strong>E-mail:</strong> <a href="mailto:filip.panic.1993@gmail.com">filip.panic.1993@gmail.com</a><br />
    <strong>Telefon:</strong> 064/085-1354 <br />
    <strong>Adresa:</strong> Vidikovacki venac 31 <br />
    <strong>Mesto:</strong> Beograd, Rakovica 11090 <br />

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1417.0398655566376!2d20.424534300615512!3d44.73839013102026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDTCsDQ0JzE4LjIiTiAyMMKwMjUnMzAuNyJF!5e0!3m2!1sen!2srs!4v1532298271297" width="750" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</address>