@inject UserManager<ApplicationUser> um
@{
    ViewData["Title"] = "Administracija";

    var korisnik = await um.GetUserAsync(User);
}

<h3 style="text-align:center">Dobro dosao admine!</h3>

<a class="btn btn-block mt-1 btn-primary"
   asp-controller="Kategorija"
   asp-action="Index"
   asp-route-kategorija="">
    Izmeni kategorije
</a>

<a class="btn btn-block mt-1 btn-primary"
   asp-controller="Proizvod"
   asp-action="Index"
   asp-route-kategorija="">
    Izmeni proizvode
</a>


