@{
    ViewData["Title"] = "Kontakt";
}

<h3>Posaljite email poruku</h3>
<hr />
<div class="card-group bg-dark text-white col-md-6 justify-content-center pt-3">
    <form action="/Home/PosaljiEmail" method="post">
        <div class="form-group d-inline-block">
            <input id="TextIme" type="text" name="Ime" class="form-control" placeholder="Ime" required autofocus />
        </div>
        <div class="form-group d-inline-block">
            <input id="TextPrezime" type="text" name="Prezime" class="form-control" placeholder="Prezime" required />
        </div>
        <div class="form-group">
            <input id="TextEmail" type="email" name="Email" class="form-control" placeholder="Email" required />
        </div>
        <div class="form-group">
            <textarea id="TextPoruka" rows="4" name="Poruka" class="form-control" placeholder="Poruka" required></textarea>
        </div>
        <div class="form-group">
            <button id="Button1" type="submit" class="btn btn-block btn-success">
                Posalji email
            </button>
        </div>
    </form>
</div>

