
<div class="row">
    <div class="col-md-4">
        <vc:meni></vc:meni>
    </div>
    <div class="col-md-8">

        @model IEnumerable<Proizvod>
        @{
            ViewData["Title"] = "Proizvodi";
        }
        @foreach (Proizvod p in Model)
        {

           @Html.Partial("_PrikaziProizvod", p)

        }
    </div>
</div>
